.navbar{
  background-color: #30c1fa;
  padding: 20px;
}
 
.text{
  color: #30c1fa;
}
 
.icon-button{
  color: #ff8600;
}
.right{
  margin-left: 5%;
}
 
.search-button{
  background-color: #ff8600;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
 
.content-buttons{
  margin-top: 50px;
}
.size-search{
  padding: 28px;
}
.input-group-addon{
  background-color: transparent;
}
 
.size{
  width: 200px;
}
 
.checkbox
{
  display: block !important;
}
ul {
    list-style-image: url('op2.png');

}